h1, h2, h3, h4 {
    font-family: $old-standard-tt;
    font-weight: $bold;
}

h1 {
    font-size: $xxx-large;
    text-transform: uppercase;
}

h2 {
    font-size: $xx-large;
    text-transform: uppercase;
}

h3 {
    font-size: $xx-large; 
}

h4 {
    font-size: $large; 
}

h5 {
   font-family: $old-standard-tt;
   font-weight: $regular; 
   font-size: $large;
}

p {
 font-family: $raleway;
 font-weight: $regular;
 font-size: $medium;
 color: $granite-gray;
}

a {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $small;
}