body {
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 18px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #646266;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

body {
  background-color: #FFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 576px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 990px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-xs-12 {
    grid-column: span 12;
  }

  .col-xs-11 {
    grid-column: span 11;
  }

  .col-xs-10 {
    grid-column: span 10;
  }

  .col-xs-9 {
    grid-column: span 9;
  }

  .col-xs-8 {
    grid-column: span 8;
  }

  .col-xs-7 {
    grid-column: span 7;
  }

  .col-xs-6 {
    grid-column: span 6;
  }

  .col-xs-5 {
    grid-column: span 5;
  }

  .col-xs-4 {
    grid-column: span 4;
  }

  .col-xs-3 {
    grid-column: span 3;
  }

  .col-xs-2 {
    grid-column: span 2;
  }

  .col-xs-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.navigation {
  background-color: white;
  position: relative;
  top: 0;
  padding-top: 22px;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0C0910;
  color: #FFF;
}

.navigation__list {
  list-style-type: none;
}

.navigation__item a {
  display: block;
  text-align: right;
  padding: 0.5em;
  margin-top: 10px;
  color: #0C0910;
  text-decoration: none;
}
.navigation__item a:hover {
  color: #646266;
}

@media only screen and (max-width: 576px) {
  .collapsible {
    text-align: right;
  }
  .collapsible label {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5em;
  }

  #menu {
    display: none;
  }

  .navigation__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
  }

  input:checked ~ .navigation__container {
    max-height: 100%;
  }

  .navigation__item a {
    display: block;
    text-align: left;
    padding: 0.5em;
    margin-top: 10px;
    color: #0C0910;
    text-decoration: none;
  }
  .navigation__item a:hover {
    color: #646266;
  }
}
header {
  grid-column-start: 7;
  margin: auto;
  width: 100%;
}
header__img {
  height: 100%;
  width: auto;
}

.hero-section {
  padding: 20px;
  grid-column-start: 1;
}

.contacto {
  background-color: #0C0910;
  color: #FFF;
  height: 150px;
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

/*# sourceMappingURL=main.css.map */
