.contacto {
    background-color: $smoky-black;
    color: $white;
    height: 150px;
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}
